# URL da API backend
VITE_API_URL=http://localhost:3001/api

# Credenciais Supabase (Auth no client)
# Pegue em: https://app.supabase.com/project/_/settings/api
VITE_SUPABASE_URL=https://wkkxpsfclbnhzmmowqsf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indra3hwc2ZjbGJuaHptbW93cXNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NzIxMzQsImV4cCI6MjA5NjI0ODEzNH0.8mud6nSjoCf7q2d--lSQuBcGJWRqpcSfS5IJVKW4a1Y
