PORT=3001

# Pegue os valores em: https://app.supabase.com/project/_/settings/api
SUPABASE_URL=https://wkkxpsfclbnhzmmowqsf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indra3hwc2ZjbGJuaHptbW93cXNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2NzIxMzQsImV4cCI6MjA5NjI0ODEzNH0.8mud6nSjoCf7q2d--lSQuBcGJWRqpcSfS5IJVKW4a1Y
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indra3hwc2ZjbGJuaHptbW93cXNmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDY3MjEzNCwiZXhwIjoyMDk2MjQ4MTM0fQ.JFLmwWmv3wMU6G_VQ7V3NtnGjON8PwvFo30I_xAkLoA

# Origem permitida para CORS (URL do frontend)
FRONTEND_URL=http://localhost:5173
